/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('assets/images/3.jpg');
    background-size: cover;
    background-repeat: repeat-y;
}

main{
    min-height: 80vh;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.bg-custom{
    background-color: rgba(0, 0, 0, 0.3);
}

